In [2]:
import urllib
import pandas as pd

```ihya.org``` adresinde bulunan çoğu isim osmanlıca kelimeleri çekerek ```isimler.csv```  isimli dosyaya kaydettik.

In [ ]:
ths =open("isimler.csv", "w")

for i in range(2,3000):
    name='https://osmanlica.ihya.org/yazilis-k'+str(i)+'.html'
    a=urllib.request.urlopen(name)
    page = a.read().decode("'utf-8'")
    yer=page.find("\"osm\"")
    page=page[yer+6:]

    yer=page.find("</")
    page=page[:yer]
    page=str(page.replace(" :::  <span>",", "))+'\n'
    ths.write(page)
    
ths.close()

daha sonra bu dosyayı ve aşağıda oluşturduğumuz tabloyu (python dictionary) kullanarak isimlerin ebced değerlerini hesapladık

In [22]:
ebced={' ' : 0 ,
 'ی' : 10 ,
 'ع' : 70 ,
 'ق' : 100 ,
 'و' : 6 ,
 'ب' : 2 ,
 'إ' : 1 ,
 'م' : 40 ,
 'س' : 60 ,
 'ا' : 1 ,
 'ك' : 20 ,
 'ن' : 50 ,
 'ش' : 300 ,
 'ِ' : 0 ,
 'ر' : 200 ,
 'گ' : 20 ,
 'ل' : 30 ,
 'ه' : 5 ,
 'ي' : 10 ,
 'د' : 4 ,
 'ى' : 10 ,
 'آ' : 1 ,
 'ت' : 400 ,
 'خ' : 600 ,
 'ز' : 7 ,
 'ث' : 500 ,
 'ج' : 3 ,
 'ص' : 90 ,
 'ح' : 8 ,
 'چ' : 3 ,
 'غ' : 1000 ,
 'ئ' : 10 ,
 'ف' : 80 ,
 'ذ' : 700 ,
 'ک' : 20 ,
 'ط' : 9 ,
 'ء' : 1 ,
 'أ' : 1 ,
 'پ' : 2 ,
 'ﻻ' : 31 ,
 'ض' : 800 ,
 '\xa0' : 0 ,
 'ُ' : 0 ,
 'َ' : 0 ,
 'ة' : 400 ,
 'ظ' : 900 ,
 '\u200c' : 0 ,
 'ؤ' : 6 ,
 'ّ' : 0 ,
 'ژ' : 7 ,
 'ڭ' : 20 ,
 '.' : 0 ,
 'ې' : 10 ,
 'ْ' : 0 }

In [23]:
df=pd.read_csv("isimler.csv")
df

       tr isim os_isim
0        Yakup    یعقوب
1        İmsak    إمساك
2        Güneş     كونش
3        İşrak   اِشراق
4         Öğle    اوگله
...        ...      ...
2188      Azem     عازم
2189      sera      سرا
2190      Alya     عليا
2191    Gülfem    گلفام
2192  Mihrimah   مهرماه

[2193 rows x 2 columns]

In [13]:
df.columns

Index(['tr isim', 'os_isim '], dtype='object')

In [14]:
osm=df["os_isim "]

In [15]:
name=df['tr isim'].str.lower()

In [16]:
hist = {}
os_harf=[]
ebced_deger=[]
for i in osm:
    temp=0
    for ii in i:
        temp=temp+ebced[ii]
        if ii not in os_harf:
            os_harf.append(ii)
        hist[ii] = hist.get(ii, 0) + 1
    ebced_deger.append(temp)

In [17]:
hist

{' ': 2373,
 '.': 3,
 '\xa0': 1,
 'ء': 33,
 'آ': 138,
 'أ': 34,
 'ؤ': 5,
 'إ': 4,
 'ئ': 19,
 'ا': 1611,
 'ب': 379,
 'ة': 23,
 'ت': 286,
 'ث': 28,
 'ج': 173,
 'ح': 232,
 'خ': 102,
 'د': 549,
 'ذ': 23,
 'ر': 838,
 'ز': 216,
 'س': 345,
 'ش': 202,
 'ص': 117,
 'ض': 25,
 'ط': 77,
 'ظ': 25,
 'ع': 238,
 'غ': 54,
 'ف': 215,
 'ق': 158,
 'ك': 232,
 'ل': 738,
 'م': 698,
 'ن': 869,
 'ه': 561,
 'و': 632,
 'ى': 100,
 'ي': 513,
 'َ': 165,
 'ُ': 73,
 'ِ': 76,
 'ّ': 69,
 'ْ': 2,
 'پ': 42,
 'چ': 55,
 'ژ': 6,
 'ک': 59,
 'ڭ': 7,
 'گ': 34,
 'ی': 478,
 'ې': 1,
 '\u200c': 54,
 'ﻻ': 4}

türkçe isimleri, osmanlıca isimleri ve ebced değerlerini  ```isimler_ve_ebced.csv``` isimli dosyada birleştirdik.

In [ ]:
import codecs
ths =codecs.open("isimler_ve_ebced.csv", "w", "utf-8")
ths.write("isim,osm,ebced\n")
for i in range(len(name)):
    temp=str(name[i])+","+str(osm[i])+","+str(ebced_deger[i])+"\n"
    ths.write(temp)
ths.close()

In [21]:
df=pd.read_csv("isimler_ve_ebced.csv")
df

          isim      osm  ebced
0        yakup    یعقوب    188
1       i̇msak    إمساك    122
2        güneş     كونش    376
3       i̇şrak   اِشراق    602
4         öğle    اوگله     62
...        ...      ...    ...
2188      azem     عازم    118
2189      sera      سرا    261
2190      alya     عليا    111
2191    gülfem    گلفام    171
2192  mihrimah   مهرماه    291

[2193 rows x 3 columns]